WeatherForecast/WebApiDemo/Connected Services/ServiceReference1/WhetherReport1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherForecast" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherForecast" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherData">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxTemprature" type="xs:double" />
      <xs:element minOccurs="0" name="MinTemprature" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherData" nillable="true" type="tns:WeatherData" />
</xs:schema>